<!-- Section: Design Block -->
<body>

  <app-navbar></app-navbar>

<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          El Mundo del Trabajo <br />
          <span style="color: hsl(218, 81%, 75%)">CONTRATACIONES S.A</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Nuestra mision es poder aportar una nueva oprotunidad a las personas que merecen ser conocidas por su competencia y capacidad desempeñadas en su oficio o profesion
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input name="email" #email="ngModel"
                [(ngModel)]="usuarioModel.email" placeholder="Email" type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Email / Correo Electronico</label>
              </div>


              <div class="form-outline mb-4">
                <input id="typePasswordX" name="password" #password="ngModel"
                [(ngModel)]="usuarioModel.password" placeholder="Password" type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Password / Contraseña</label>
              </div>

              <!-- Checkbox -->


              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" (click)="login()">
              Login
              </button>




              <!-- Register buttons -->
              <div class="text-center">
                <p>¿No tienes cuenta aún?</p>
                <a href="/registro">Registrarse</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

<!-- Section: Design Block -->
