
<div class="header">
    <a href="" class="logo">Contrataciones</a>
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/principal">Principal</a></li>
      <li><a routerLink="/vertrabajadores" *ngIf="_usuarioService.getIdentidad().rol==='ADMIN'">Ver Trabajadores</a></li>
      <li><a routerLink="/perfilP"><img  src="../../../assets/image/usuarios.png"  id="usuario"  alt=""></a></li>

    </ul>
</div>
